body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: blueviolet;
}



table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
  
}